
<div class="container container-side">
    <div>
        <div class="image-title">
            <img src="/assets/img/PPT.jpeg" style="border-radius: 30px;" width="50" height="50">
            <div>Giffin</div>
            <div class="text-a">giffasyaikhani2005@gmail.com</div>
            
        </div>
        <div class="d-grid">
            

</div> 
</div>   
</div>
<div class="container container-content">
<a
class="btn btn-dashboard"
routerLink="/storage-home/dashboard"
>
<span class="bx bx-home"></span> Home
</a>
<div class="card bg-content">
<a
class="btn btn-content mt-2"
routerLink="/storage-home/album"
>
<span class="bx bx-photo-album"></span> Album
</a>
<a
class="btn btn-content mt-2"
>
<span class="bx bx-home"></span> Home
</a>
<a
class="btn btn-content mt-2"
>
<span class="bx bx-home"></span> Home
</a>

<a
class="btn btn-content mt-2"
>
<span class="bx bx-home"></span> Home
</a><a
class="btn btn-content mt-2"
>
<span class="bx bx-home"></span> Home
</a>
<a
class="btn btn-content mt-2"
>
<span class="bx bx-home"></span> Home
</a>    
</div>

</div>
<a
class="btn btn-content mt-2"style="color: black" routerLink="/login"
>
<span  class="bx bx-home"></span> logout
</a> 